@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

:root{
    --Pale_Blue: hsl(243, 100%, 93%);
    --Grayish_Blue: hsl(229, 7%, 55%);
    --Dark_Blue: hsl(228, 56%, 26%);
    --Very_Dark_Blue: hsl(229, 57%, 11%);
    --gradient1: hsl(6, 100%, 80%);
    --gradient2: hsl(335, 100%, 65%);
    /*Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background: var(--Very_Dark_Blue);
    background-image: url(images/bg-desktop.png), url(images/bg-mobile.png);
    background-position: center 24rem, 100rem 100rem;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
}

.container{
    display: flex;
    align-items: end;
}

.left{
    background: var(--Dark_Blue);
    padding: 2rem 7rem 2rem 2rem;
    border-radius: 1rem 5rem 1rem 1rem;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.icons .image{
    display: flex;
    align-items: center;
    background: var(--Very_Dark_Blue);
    padding: 9px;
    border-radius: 10px;
    width: 2.5rem;
    height: 2.5rem;
}

.right{
    background: var(--Dark_Blue);
    border-radius: 10px;
    color: var(--Pale_Blue);
    padding: 1.5rem;
    width: 35rem;
    position: relative;
    margin-left: 1.5rem;
}

.right .special_paragraph{
    margin-bottom: 10px;
}

.space_remain{
    background: hsl(0, 0%, 100%);
    color: var(--Very_Dark_Blue);
    display: flex;
    align-items: center;
    border-radius: 7px;
    position: absolute;
    padding: 10px 0 10px 10px;
    bottom: 7rem;
    left: 23rem;
}

.space_remain p{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 400;
}

.space_remain span{
    background: hsl(0, 0%, 100%);
    width: 2rem;
    height: 2rem;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    position: relative;
    top: 2.7rem;
}

.time{
    background: var(--Very_Dark_Blue);
    height: 1.2rem;
    border-radius: 1rem;
    border: 2px solid var(--Very_Dark_Blue);
    display: flex;
    align-items: center;
}

.content{
    background: linear-gradient(90deg, var(--gradient1), var(--gradient2));
    width: 80%;
    height: 1rem;
    border-radius: 1rem;
}

.circle{
    background: white;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    position: relative;
    right: 1rem;
}

.GB{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.right .special_paragraph span{
    font-weight: 700;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .right {
        width: 100%;
        margin-left: 0;
        margin-top: 1.5rem;
        padding-bottom: 3rem;
    }

    .left{
        width: 100%;
    }

    .space_remain {
        bottom: -2rem;
        left: 5rem;
    }

    .space_remain span {
        background: hsla(0, 0%, 100%, 0);
    }

    body {
        background-position: 100rem 100rem, center center;
    }
}